<!DOCTYPE html>
<html>
  <head>
    <title>一行会</title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/swiper.min.css">
    <%= stylesheet_link_tag    'gift', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js'></script>
    <%= wechat_config_js debug: false, api: %w(onMenuShareTimeline onMenuShareAppMessage) %>
    <script src="/swiper.min.js"></script>
    <script src="/mui.min.js"></script>
  </head>

  <body>
<div class="mui-container">
  <div class="title mui--text-center">我的创业大礼包</div>
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <% @advertisings.each do |ad| %>
        <div class='swiper-slide'>
          <%= link_to ad.hyperlink do %>
            <%= image_tag url_for(ad.img) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="main-desc">往下拉，关注下方公众号，在微信公众号获取更多创业资讯！</div>
  <div class="mui-divider"></div>
  <div class="coupons">
    <% @coupons.each do |cp| %>
      <div class="card">
        <div class="left-circle">
          <div class="circle"></div>
        </div>
        <div class="coupon" data-img="<%= cp.coupon_type.img.attached? ? url_for(cp.coupon_type.img) : ''%>" data-link="<%= cp.coupon_type.link.presence%>" >
          <div class="content">
            <div class="divider top"></div>
            <div class="center">
              <div class="left">
                創
              </div>
              <div class="right">
                <div class="desc"><%= cp.coupon_type.title %></div>
                <div class="price"><%= cp.coupon_type.desc %></div>
              </div>
            </div>
            <div class="divider bottom"></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mui-divider"></div>
  <div class="share-link">
    <a><button class="mui-btn mui-btn--danger share-button">分享大礼包给好友</button></a>
  </div>
  <div class="coupon-usage">
    <div class="title">
      使用说明
    </div>
    <div class="qrcodes">
      <div class="left">
        <%= image_tag 'qrcode-left.jpg' %>
      </div>
      <div class="right">
        <%= image_tag 'qrcode-right.png' %>
      </div>
    </div>
    <div class="text">

    </div>
    <div class="text">
      <%= image_tag 'coupon-desc.png' %>
    </div>
    <div class="footer">
      <%= image_tag 'footer.png' %>
      <p style='color: gray;'>只之互动提供技术支持</p>
    </div>
  </div>

</div>
<div class="tip mask">
  <%= image_tag 'sharesign.png'%>
  <%= image_tag 'lock.png', style: "margin-right:7%; width: 80%;"%>
</div>
<div class="coupon-img mask">
  <a>
    <img src="" alt="">
  </a>
</div>
<style media="screen">
  .modal {
    padding-top: 10px;
  }
  .modal img {
    width: 100%;
  }
  .modal p {
    text-align: center;
  }
</style>
<script>
  $(function(){
    var swiper = new Swiper('.swiper-container', {
      direction:"horizontal",
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
    });
    if(<%= @advertisings.length %> == 1)
      swiper.autoplay.stop()
    // function activateModal(image) {
    //   // initialize modal element
    //   var modalEl = document.createElement('div');
    //   modalEl.classList = "modal"
    //   modalEl.style.width = '84%';
    //   modalEl.style.margin = '7% auto';
    //   modalEl.style.backgroundColor = '#fff';
    //   // $(modalEl).append('<p>快关注公众号后使用优惠券吧^_^</p><img src=' + image + '>')
    //   $(modalEl).append('<img src="/lock-page.png">')
    //   // show modal
    //   mui.overlay('on', modalEl);
    // }
    var interval = setInterval(function(){
      if($('.modal').is(":visible")){
        return
      }
      $.get('/users/share_info', function(data){
        if(data.is_share){
          clearInterval(interval)
        }else{
          if($('.mask').is(":visible"))
            return
          $('.tip.mask').show().delay(500)
        }
      })
    }, 5000)
  })
  function success_callback(){
    $.get("<%= share_gift_share_url(@gift.id) %>", function(){
      $('.tip.mask').hide().delay(500)
      window.location.reload();
    })
  }
  $('.share-button').click(function(){
    $('.tip.mask').show().delay(500)
  })
  $(".coupon").click(function(e){
    img_path = $(this).data("img")
    if(img_path){
      $(".coupon-img img").attr("src", img_path)
      link = $(this).data("link")
      $(".coupon-img.mask").show()
      if(link)
        $(".coupon-img a").attr('href', link)
    }
  })
  $('.mask').click(function(e){
    if($(e.target).hasClass('mask'))
      $('.coupon-img.mask').hide();
  })
  wx.ready(function() {
      wx.onMenuShareTimeline({
        title: "<%= @current_user.name %>给你送了一个创业大礼包!",
        desc: "上海地区3年免费办公场地推荐",
        link: "<%= gift_share_url(@gift.id) %>",
        imgUrl: 'http://cdn.puhuishequ.cn/photo/2018/64b97423-cd47-413e-8c76-fbb24ce439fa.png?imageView2/1/w/1920',
        success: success_callback
      });
      wx.onMenuShareAppMessage({
        title: "<%= @current_user.name %>给你送了一个创业大礼包", // 分享标题
        desc: '上海地区3年免费办公场地推荐', // 分享描述
        link: "<%= gift_share_url(@gift.id) %>", // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: 'http://cdn.puhuishequ.cn/photo/2018/64b97423-cd47-413e-8c76-fbb24ce439fa.png?imageView2/1/w/1920', // 分享图标
        success: success_callback
      });
  });
</script>
</body>
</html>
