<div class="container">
  <div class="title mb-2">
    <div class="line tl">恭喜你获得</div>
    <div class="line tl mb-1">来自“一行会·创”的创业大礼包</div>
    <div class="images">
      <div class="top">
        <%= image_tag 'yihanghui.png' %>
      </div>
      <div class="bottom">
        <%= image_tag 'chuang.png', class: 'mr-4' %>
        <%= image_tag 'chuang_bag.png' %>
      </div>
    </div>
  </div>
  <div class="body">
    <%= image_tag 'sign_success_body.png' %>
  </div>
  <div class="footer">
    <div class="line fenxiang">与好友分享创业大礼包</div>
    <%= link_to '一键分享', '#', class: 'btn btn-info btn-block mb-2' %>
    <div class="line">发至朋友圈或微信群</div>
    <div class="line tip">还差一步 先分享吧</div>
  </div>
</div>
